meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  background: #fff;
  color: #0a0a0a;
  padding: 0;
  margin: 0;
  font-family: Georgia, serif;
  font-weight: normal;
  font-style: normal;
  line-height: 150%;
  cursor: default;
  -webkit-font-smoothing: antialiased; }

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .entry-meta:before, .clearfix:after, .entry-meta:after {
  content: " ";
  display: table; }

.clearfix:after, .entry-meta:after {
  clear: both; }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

@media only screen and (max-width: 40em) {
  .small-only-text-left {
    text-align: left !important; }
  .small-only-text-right {
    text-align: right !important; }
  .small-only-text-center {
    text-align: center !important; }
  .small-only-text-justify {
    text-align: justify !important; } }

@media only screen {
  .small-text-left {
    text-align: left !important; }
  .small-text-right {
    text-align: right !important; }
  .small-text-center {
    text-align: center !important; }
  .small-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .medium-only-text-left {
    text-align: left !important; }
  .medium-only-text-right {
    text-align: right !important; }
  .medium-only-text-center {
    text-align: center !important; }
  .medium-only-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 40.063em) {
  .medium-text-left {
    text-align: left !important; }
  .medium-text-right {
    text-align: right !important; }
  .medium-text-center {
    text-align: center !important; }
  .medium-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .large-only-text-left {
    text-align: left !important; }
  .large-only-text-right {
    text-align: right !important; }
  .large-only-text-center {
    text-align: center !important; }
  .large-only-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 64.063em) {
  .large-text-left {
    text-align: left !important; }
  .large-text-right {
    text-align: right !important; }
  .large-text-center {
    text-align: center !important; }
  .large-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .xlarge-only-text-left {
    text-align: left !important; }
  .xlarge-only-text-right {
    text-align: right !important; }
  .xlarge-only-text-center {
    text-align: center !important; }
  .xlarge-only-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 90.063em) {
  .xlarge-text-left {
    text-align: left !important; }
  .xlarge-text-right {
    text-align: right !important; }
  .xlarge-text-center {
    text-align: center !important; }
  .xlarge-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 120.063em) and (max-width: 99999999em) {
  .xxlarge-only-text-left {
    text-align: left !important; }
  .xxlarge-only-text-right {
    text-align: right !important; }
  .xxlarge-only-text-center {
    text-align: center !important; }
  .xxlarge-only-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 120.063em) {
  .xxlarge-text-left {
    text-align: left !important; }
  .xxlarge-text-right {
    text-align: right !important; }
  .xxlarge-text-center {
    text-align: center !important; }
  .xxlarge-text-justify {
    text-align: justify !important; } }

/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

/* Default Link Styles */
a {
  color: #008CBA;
  text-decoration: none;
  line-height: inherit; }
  a:hover, a:focus {
    color: #0078a0; }
  a img {
    border: none; }

/* Default paragraph styles */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-rendering: optimizeLegibility; }
  p.lead {
    font-size: 1.21875rem;
    line-height: 1.6; }
  p aside {
    font-size: 0.875rem;
    line-height: 1.35;
    font-style: italic; }

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  line-height: 1.4; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 80%;
    color: #6f6f6f;
    line-height: 0; }

h1 {
  font-size: 2.125rem; }

h2 {
  font-size: 1.125rem; }

h3 {
  font-size: 1.1875rem; }

h4 {
  font-size: 0.9375rem; }

h5 {
  font-size: 1.125rem; }

h6 {
  font-size: 1rem; }

.subheader {
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: normal;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: rem-calc(20) auto 0 rem-calc(20) auto-0.0625rem;
  height: 0; }

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit; }

strong,
b {
  font-weight: bold;
  line-height: inherit; }

small {
  font-size: 80%;
  line-height: inherit; }

pre {
  max-width: 100%;
  overflow: auto;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  font-size: 1em;
  color: #0a0a0a;
  background-color: #eee;
  border-width: 1px;
  border-style: solid;
  border-color: contrast-color(#0a0a0a, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  border-radius: 2px;
  padding: rem-calc(2 5 1);
  margin-bottom: 1rem; }

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  font-size: 1em;
  color: #0a0a0a;
  background-color: #eee;
  border-width: 1px;
  border-style: solid;
  border-color: contrast-color(#0a0a0a, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  border-radius: 2px;
  padding: rem-calc(2 5 1); }

address {
  margin-bottom: 1em; }

table {
  border-collapse: collapse;
  margin-bottom: 1rem; }
  table th,
  table td {
    border: 1px solid #ddd;
    padding: .5em;
    padding: .5rem; }

/* Lists */
ul,
ol,
dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  list-style-position: outside;
  font-family: inherit; }

ul {
  margin-left: 1.25rem; }
  ul.no-bullet {
    margin-left: 0; }
    ul.no-bullet li ul,
    ul.no-bullet li ol {
      margin-left: 1.25rem;
      margin-bottom: 0;
      list-style: none; }

/* Unordered Lists */
ul li ul,
ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0; }

ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit; }

ul.square {
  list-style-type: square;
  margin-left: 1.25rem; }

ul.circle {
  list-style-type: circle;
  margin-left: 1.25rem; }

ul.disc {
  list-style-type: disc;
  margin-left: 1.25rem; }

ul.no-bullet {
  list-style: none; }

/* Ordered Lists */
ol {
  margin-left: 1.4rem; }
  ol li ul,
  ol li ol {
    margin-left: 1.25rem;
    margin-bottom: 0; }

/* Definition Lists */
dl dt {
  margin-bottom: 0.3rem;
  font-weight: bold; }

dl dd {
  margin-bottom: 0.75rem; }

/* Abbreviations */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #0a0a0a;
  border-bottom: 1px dotted #ddd;
  cursor: help; }

abbr {
  text-transform: none; }

/* Blockquotes */
blockquote {
  margin: 0 0 1rem;
  padding: rem-calc(9 20 0 19);
  border-left: 1px solid #cacaca;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-style: italic; }
  blockquote cite {
    display: block;
    font-size: 0.8125rem;
    color: #555555;
    margin-top: .5em;
    margin-top: .5rem;
    font-size: 1.1em;
    font-size: 1.1rem; }
    blockquote cite:before {
      content: "\2014 \0020"; }
    blockquote cite a,
    blockquote cite a:visited {
      color: #555555; }

blockquote,
blockquote p {
  line-height: 1.6;
  color: #6f6f6f;
  font-size: 1.4em;
  font-size: 1.4rem;
  line-height: 1.4; }

@media only screen and (min-width: 40.063em) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4; }
  h1 {
    font-size: 2.75rem; }
  h2 {
    font-size: 1.75rem; }
  h3 {
    font-size: 1.5rem; }
  h4 {
    font-size: 1.25rem; }
  h5 {
    font-size: 1.125rem; }
  h6 {
    font-size: 1rem; } }

/*
	 * Print styles.
	 *
	 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
	 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
	*/
.print-only {
  display: none !important; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .hide-on-print {
    display: none !important; }
  .print-only {
    display: block !important; }
  .hide-for-print {
    display: none !important; }
  .show-for-print {
    display: inherit !important; } }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin: 0 auto; }

.sticky {
  font-family: 'Genericons';
  content: '\f308';
  color: #008CBA;
  font-size: 1.25rem;
  line-height: 1.4;
  position: relative;
  top: 2px; }
  @media only screen and (min-width: 40.063em) {
    .sticky {
      font-size: 1.875rem;
      top: 5px; } }
  @media only screen and (min-width: 64.063em) {
    .sticky {
      font-size: 2.1875rem; } }

.no-results,
.not-found {
  padding: 1.5em;
  padding: 1.5rem;
  margin: 0 0 1.5em;
  margin: 0 0 1.5rem;
  background-color: #fff; }
  @media only screen and (min-width: 40.063em) {
    .no-results,
    .not-found {
      padding: 2.5em 3.5em;
      padding: 2.5rem 3.5rem; } }
  .no-results .page-header,
  .not-found .page-header {
    margin-bottom: 1em; }

.hentry {
  padding: 1.5em;
  padding: 1.5rem;
  margin: 0 0 1.5em;
  margin: 0 0 1.5rem;
  background-color: #fff; }
  @media only screen and (min-width: 40.063em) {
    .hentry {
      padding: 2.5em 3.5em;
      padding: 2.5rem 3.5rem; } }
  .hentry .attachment-primer-featured {
    width: 100%;
    height: auto; }
  .hentry .entry-header {
    color: inherit; }

.featured-image {
  margin-bottom: 1em;
  margin-bottom: 1.5rem; }

.byline,
.updated {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.entry-content,
.entry-summary {
  margin: 1.5em 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.entry-title {
  margin-bottom: .25em;
  font-size: 1.75rem; }
  .entry-title a {
    color: inherit; }
  .single .entry-title {
    font-weight: 300;
    font-size: 2.25rem; }

.archive-title {
  margin-bottom: 1em;
  margin-bottom: 2rem; }

.entry-footer {
  color: #6f6f6f;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  padding-top: 1em; }
  .entry-footer:before, .entry-footer:after {
    content: " ";
    display: table; }
  .entry-footer:after {
    clear: both; }
  .entry-footer a {
    color: #008CBA; }
  .entry-footer .entry-footer-right {
    float: right; }
  .entry-footer .cat-links,
  .entry-footer .tags-links {
    display: block; }
  .entry-footer .comments-link a {
    vertical-align: top; }

.entry-meta {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 1.4em;
  line-height: 1.4rem;
  margin-bottom: 1em;
  margin-bottom: 1rem;
  padding-bottom: 1em;
  padding-bottom: 1rem;
  font-size: .9em;
  font-family: "Open Sans", sans-serif; }
  .entry-meta i {
    vertical-align: middle;
    line-height: .8; }
  .has-post-thumbnail .entry-meta {
    border-bottom-width: 0; }

.entry-media-meta .button {
  margin-right: 1em;
  margin-right: 1rem; }
  @media only screen and (max-width: 40em) {
    .entry-media-meta .button {
      margin-bottom: 10px; } }

.event-meta,
.sermon-meta,
.location-meta,
.person-meta {
  margin-bottom: 1em;
  margin-bottom: 1rem;
  font-family: "Open Sans", sans-serif; }
  .event-meta .genericon,
  .sermon-meta .genericon,
  .location-meta .genericon,
  .person-meta .genericon {
    line-height: 2; }
  .event-meta span,
  .sermon-meta span,
  .location-meta span,
  .person-meta span {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    white-space: nowrap;
    margin-right: .5em;
    margin-right: .5rem;
    line-height: 2; }

.post-format {
  color: #008CBA;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  font-weight: bold; }

.more-link {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  border-radius: 0;
  border: 1px solid #008CBA;
  padding: .5em 1em;
  padding: .5rem 1rem; }

article.format-link {
  background: #f5f5f5; }
  article.format-link .entry-title {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 1.75rem; }

.entry-media.audio {
  margin-bottom: 1.5em; }

.primer-event-full-map,
.entry-media.video {
  height: 0;
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 66%; }
  .primer-event-full-map > *,
  .entry-media.video > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important; }
  .primer-event-full-map .mejs-container,
  .entry-media.video .mejs-container {
    width: 100% !important;
    height: 100% !important; }

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  border: 3px solid rgba(0, 140, 186, 0.2);
  border-radius: 5px; }

.comments-area {
  padding: 1.5em;
  padding: 1.5rem;
  margin: 0 0 1.5em;
  margin: 0 0 1.5rem;
  background-color: #fff; }
  @media only screen and (min-width: 40.063em) {
    .comments-area {
      padding: 2.5em 3.5em;
      padding: 2.5rem 3.5rem; } }

/* Comments */
/*
 * Comment Thread
 *
*/
#comments .reply-title,
#comments .comments-title {
  margin-bottom: 1em; }

.comment-list {
  padding: 0 1.5em;
  padding: 0 1.5rem; }
  .comment-list,
  .comment-list li {
    list-style: none;
    margin-left: 0;
    padding-left: 0; }
  .comment-list li {
    padding-left: 32px; }
    .comment-list li article {
      margin-bottom: 56px;
      padding-left: 1em;
      padding-left: 1rem; }
    .comment-list li.pingback, .comment-list li.trackback {
      border: 2px solid #ddd;
      border-left: 0;
      border-right: 0;
      padding: 1em 0;
      padding: 1rem 0;
      margin-bottom: 1.4em;
      margin-bottom: 2rem; }
    .comment-list li .fn {
      font-size: 1.1em;
      font-style: normal;
      font-weight: bold; }
    .comment-list li .comment-author,
    .comment-list li .comment-metadata {
      font-family: "Open Sans", sans-serif; }
    .comment-list li .comment-metadata {
      margin-bottom: 1em;
      font-size: 0.8125rem;
      line-height: 1em; }
      .comment-list li .comment-metadata .edit-link {
        float: right; }
  .comment-list .comment-reply-link:after {
    content: " \2192"; }
  .comment-list .comment-awaiting-moderation {
    border-radius: 4px;
    background-color: #d9d9d9;
    color: #666;
    padding: 10px 15px;
    font-size: .9em;
    margin-top: 1em; }

.comment-meta .avatar {
  float: left;
  margin-left: -32px;
  left: -1em;
  left: -1rem;
  position: relative;
  border-radius: 3px; }

.comment-form label .required {
  color: #cc0000; }

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
  width: 100%; }

#respond {
  margin-top: 10px;
  font-family: "Open Sans", sans-serif; }
  #respond h3#reply-title {
    font-size: 1.5em !important; }
  #respond .logged-in-as {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-size: .85em; }
  #respond .comment-notes {
    font-size: .87em;
    margin-bottom: 2em;
    color: #999; }
  #respond .form-allowed-tags {
    font-size: .8em;
    color: #888;
    margin-bottom: 2em; }
