.primer-layout {
	p {
		label {
			float: left;
			margin-right: 12px;
		}

		span.clear {
			content: '';
			clear: both;
			display: block;
		}
	}
}

.primer-layout-wrap {
	ul {
		display: flex;
		margin: 0;

		li {
			margin: 0.3em 0.3em;
			padding: 0;

			&.disabled {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
				filter: alpha(opacity = 35);
				opacity: 0.35;
			}

			span {
				display: none;
			}

			img {
				width: calc(100% - 0.3em - 12px);
				height: auto;
				padding: 6px;
			}

			label {
				display: block;
				position: relative;
				margin-left: 0;

				> input {
					visibility: hidden;
					position: absolute;

					+ img {
						border: 3px solid transparent;
					}
				}
			}

			&.active {
				label > input + img {
					cursor: pointer;
				}

				label > input:checked + img {
					border-color: #1e8cbe;
				}
			}

			&.disabled label > input + img {
				cursor: default;
			}
		}
	}
}

#side-sortables,
#customize-control-layout {
	.primer-layout-wrap ul {
		flex-wrap: wrap;

		li {
			flex-basis: calc(25% - 0.6em);
		}
	}
}

@media only screen and (max-width: 850px) {
	.primer-layout-wrap ul {
		display: inline-block;

		li {
			float: none;
			width: 100%;
			padding: 0.5em 0 !important;

			span {
				display: inline-block;
			}

			img {
				display: none;
			}

			label {
				margin-left: 24px;

				> input {
					visibility: visible;
					position: relative;
				}
			}
		}
	}
}
