/*!
Primer Block Editor Frame Styles
*/

@import "common/variables";
@import "common/mixins";

body.block-editor-page.post-type-post {

	.editor-post-title__block {

		.editor-post-title__input {
			font-weight: 600;
		}
	}
}

body.primer-gutenberg-narrow {
	.edit-post-visual-editor,
	.edit-post-text-editor {
		.edit-post-post-text-editor__toolbar,
		.editor-writing-flow__click-redirect,
		.editor-post-title__block,
		.editor-block-list__block,
		.editor-default-block-appender {
			max-width: 400px;
		}
	}
}

body.primer-gutenberg-wide {
	.edit-post-visual-editor,
	.edit-post-text-editor {
		.edit-post-post-text-editor__toolbar,
		.editor-writing-flow__click-redirect,
		.editor-post-title__block,
		.editor-block-list__block,
		.editor-default-block-appender {
			max-width: none;
		}
	}
}

.components-panel {
	.primer-layout-wrap ul li img {
		max-width: 85%;
	}
}

body {

	&.one-column-wide {
		.wp-block {
			max-width: 980px;
		}
	}

	&.one-column-narrow {
		.wp-block {
			max-width: 700px;
		}
	}

	&.two-column-default,
	&.two-column-reversed {
		.wp-block {
			max-width: 640px;
		}
	}

	&.three-column-default,
	&.three-column-center,
	&.three-column-reversed {
		.wp-block {
			max-width: 450px;
		}
	}
}
