.wp-block-coblocks-accordion {
	margin-bottom: 1.55em;
	margin-top: 1.65em;
}

.wp-block-coblocks-alert__title {
	@include font-size(1.25);

	margin-bottom: 0;
	margin-top: 0;

	+ p {
		margin-top: 0.3em;
	}
}

.wp-block-coblocks-author {

	&__heading {
		font-size: 90%;
	}

	&__name {
		font-size: 1.25em;
		font-weight: 600;
		margin-bottom: 0.4em;
	}

	.wp-block-button {
		margin-top: 1.25em;
	}
}