.comments-area {
	margin: 0 0 1.5em;
	padding: 2.5em 3em;
	background-color: #fff;

	@media #{$medium-only} {
		padding: 1.5em;
	}

	@media #{$small-only} {
		padding: 1em;
	}

	label {
		display: block;
	}

	input:not(.submit),
	textarea {
		width: 100%;
	}
}

.comment-list {
	padding: 0;
	list-style: none;

	ol {
		list-style: none;

		&.children {
			margin-top: 2em;

			@media #{$small-only} {
				padding-left: 1em;
			}
		}
	}

	li {
		margin-bottom: 2em;
		padding-left: 32px;

		@media #{$small-only} {
			padding-left: 0;
		}

		article {
			padding-left: 1em;

			@media #{$small-only} {
				padding-left: 0;
			}
		}

		.comment-metadata {
			font-size: 85%;

			.edit-link {
				float: right;
			}
		}

		&.bypostauthor {
			display: block;
			padding: 0.5em 0.5em 0.5em calc(0.5em + 32px);
			border-radius: 5px;
			border: 3px solid rgba($color__link, 0.2);
		}
	}
}

.comment-meta {
	.avatar {
		float: left;
		margin-left: calc(-1em - 32px);
		border-radius: 3px;

		@media #{$small-only} {
			display: none;
			margin: 0;
		}
	}

	.says {
		color: $color__text-secondary;
	}
}

.comment-content a {
	word-wrap: break-word;
}

.logged-in-as {
	font-size: 90%;
	color: $color__text-secondary;
}

.comment .comment-respond {
	margin: 2em 20px 0 -12px;
}

.comment-reply-title small {
	float: right;
	margin-top: 0.6em;
	font-size: 60%;
}
