.comments-area {
	margin: 0 0 1.5em;
	padding: 2.5em 3em;
	background-color: #fff;
}

.comment-list {
	padding: 0;
	list-style: none;

	ol {
		list-style: none;

		&.children {
			margin-top: 2em;
		}
	}

	li {
		margin-bottom: 2em;
		padding-left: 32px;

		article {
			padding-left: 1em;
		}

		.comment-metadata {
			font-size: 0.85em;

			.edit-link {
				float: right;
			}
		}

		&.bypostauthor {
			display: block;
			padding: 0.5em 0.5em 0.5em calc(0.5em + 32px);
			border-radius: 5px;
			border: 3px solid rgba($color__link, 0.2);
		}
	}
}

.comment-meta {

	.avatar {
		float: left;
		margin-left: calc(-1em - 32px);
		border-radius: 3px;
	}

	.says {
		color: $color__text-secondary;
	}
}

.comment-content a {
	word-wrap: break-word;
}

.logged-in-as {
	font-size: 0.9em;
}
