.site-footer {
	clear: both;
	background-color: $color__footer-widget-bg;
}

.footer-widget-area {
	@include container($container-size);

	padding: 2em 0;

	.footer-widget {
		@include span(12);

		@media #{$small-only} {
			margin-bottom: 1em;
		}
	}

	@media #{$medium-up} {

		&.columns-2 .footer-widget {
			&:nth-child(1) {
				@include span(first 6);
			}

			&:nth-child(2) {
				@include span(last 6);
			}
		}

		&.columns-3 .footer-widget {
			&:nth-child(1) {
				@include span(first 4);
			}

			&:nth-child(2) {
				@include span(4);
			}

			&:nth-child(3) {
				@include span(last 4);
			}
		}

		&.columns-4 .footer-widget {
			&:nth-child(1) {
				@include span(first 3);
			}

			&:nth-child(2),
			&:nth-child(3) {
				@include span(3);
			}

			&:nth-child(4) {
				@include span(last 4);
			}
		}
	}
}

body.no-max-width .footer-widget-area {
	max-width: none;
}

.site-info-wrapper {
	padding: 1.5em 0;
	background-color: $color__footer-bg;

	.site-info {
		@include container($container-size);
	}

	.site-info-text {
		@include span(first 6);

		font-size: 90%;
		line-height: 38px;
		color: $color__footer-text;
	}

	.social-menu {
		@include span(last 6);
	}

	@media #{$medium-down} {

		.footer-menu,
		.site-info-text,
		.social-menu {
			@include span(12);

			text-align: center;
		}
	}
}

.footer-menu {
	@include span(12);

	margin-bottom: 1em;

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li {
		display: inline-block;
		margin: 0.5em 1em;

		@media #{$large-up} {

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		a, a:visited {
			color: $color__footer-menu-text;

			&:hover {
				color: rgba($color__footer-menu-text, 0.8);
			}
		}
	}
}

body.no-max-width .site-info-wrapper .site-info {
	max-width: none;
}

.social-menu {
	text-align: right;

	@media #{$medium-down} {
		margin-bottom: 1em;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 0;

		li {
			display: inline-block;
			position: relative;
			padding: 0;
			margin: 3px;

			@media #{$large-up} {

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	a {
		@extend .genericon;

		@extend .genericon-link;

		font-size: 0;
		text-indent: -9999em;
		border: 0;
		width: 32px;
		height: 32px;
		transition: 200ms opacity;
		color: $color__bg;
		background-color: $color__primary-text;
		border-radius: 3px;

		&:visited {
			color: $color__bg;
		}

		&:before {
			-webkit-font-smoothing: subpixel-antialiased;
			padding: 7px;
			display: inline-block;
			font-size: 18px;
		}

		&:hover {
			background-color: $color__link;
		}

		&:hover,
		&:visited:hover {
			color: $color__bg;
		}
	}

	a[href*="wordpress.org"]:before,
	a[href*="wordpress.com"]:before {
		content: '\f205';

		&:hover {
			color: #21759b;
		}
	}

	a[href*="facebook.com"]:before {
		content: '\f203';

		&:hover {
			color: #3b5998;
		}
	}

	a[href*="twitter.com"]:before {
		content: '\f202';

		&:hover {
			color: #33ccff;
		}
	}

	a[href*="dribbble.com"]:before {
		content: '\f201';

		&:hover {
			color: #ea4c89;
		}
	}

	a[href*="plus.google.com"]:before {
		content: '\f206';

		&:hover {
			color: #dd4b39;
		}
	}

	a[href*="pinterest.com"]:before {
		content: '\f210';

		&:hover {
			color: #c8232c;
		}
	}

	a[href*="github.com"]:before {
		content: '\f200';

		&:hover {
			color: #171515;
		}
	}

	a[href*="tumblr.com"]:before {
		content: '\f214';

		&:hover {
			color: #34526f;
		}
	}

	a[href*="youtube.com"]:before {
		content: '\f213';

		&:hover {
			color: #c4302b;
		}
	}

	a[href*="flickr.com"]:before {
		content: '\f211';

		&:hover {
			color: #ff0084;
		}
	}

	a[href*="vimeo.com"]:before {
		content: '\f212';

		&:hover {
			color: #1ab7ea;
		}
	}

	a[href*="instagram.com"]:before {
		content: '\f215';

		&:hover {
			color: #3f729b;
		}
	}

	a[href*="codepen.io"]:before {
		content: '\f216';

		&:hover {
			color: #000;
		}
	}

	a[href*="linkedin.com"]:before {
		content: '\f208';

		&:hover {
			color: #0e76a8;
		}
	}
}
