.site-header {
	position: relative;
	background-color: $color__hero-bg;
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
}

.site-header-wrapper {
	@include container($container-size);
}

body.no-max-width .site-header-wrapper {
	max-width: none;
}

.site-title-wrapper {
	@include span(12);

	position: relative;
	z-index: 10;
	padding: 6% 1rem;

	@media #{$small-only} {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}
}

.site-title {
	margin-bottom: 0.25rem;
	letter-spacing: -0.03em;
	font-weight: 700;
	font-size: 2em;

	a {
		color: $color__site-title-text;

		&:hover,
		&:visited:hover {
			color: rgba($color__site-title-text, 0.8);
		}
	}
}

.site-description {
	color: $color__tagline-text;
}

.header-image img {
	display: block;
}

.page-title-container {
	background-color: $color__content-bg;

	.page-header {
		@include container($container-size);

		position: relative;
		clear: both;

		h1 {
			@include span(12);

			padding: 3% 1rem;
			margin-bottom: 0;
			font-weight: 300;
		}
	}
}

body.no-max-width .page-title-container .page-header {
	max-width: none;
}
