.site-header {
	position: relative;
	background-color: $color__background-header;
}

.hero {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 0;
}

.site-header-wrapper {
	@include container($container-size);
}

body.no-max-width .site-header-wrapper {
	max-width: none;
}

.site-title-wrapper {
	@include span(12);

	position: relative;
	z-index: 1;
	padding: 7% 1rem;

	@media #{$small-only} {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}
}

.site-title {
	margin-bottom: 0.25rem;
	letter-spacing: -0.03em;
	font-weight: 700;
	font-size: 2em;

	a {
		color: $header-textcolor;

		&:hover,
		&:visited:hover {
			color: rgba($header-textcolor, 0.8);
		}
	}
}

.site-description {
	color: $color__text-tagline;
}

body.custom-header-image {
	.site-title {
		text-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
	}

	.site-description {
		text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
	}
}

.header-image img {
	display: block;
}

.page-title-container {
	background-color: $color__background-screen;

	.page-header {
		@include container($container-size);

		position: relative;
		z-index: 9999;
		clear: both;

		h1 {
			@include span(12);
			padding: 3% 1rem;
			margin-bottom: 0;
			font-weight: 300;
		}
	}
}

body.no-max-width .page-title-container .page-header {
	max-width: none;
}
