.site-header {
	background-color: $color__background-header;
}

.site-header-wrapper {
	@include container($container-size);
}

body.no-max-width .site-header-wrapper {
	max-width: none;
}

.site-title-wrapper {
	@include span(12);
	padding: 2.375rem 1rem;

	@media #{$small-only} {
		padding: 1.5rem 0.75rem;
	}
}

.site-title {
	margin-bottom: 0.25rem;
	letter-spacing: -0.03em;
	font-weight: 700;
	font-size: 2em;

	a {
		color: $header-textcolor;

		&:hover,
		&:visited:hover {
			color: rgba($header-textcolor, 0.8);
		}
	}

}
