.hero {
	@include span(12);

	clear: both;
	padding: 0 1rem;
	color: $color__hero-text;

	.hero-inner {
		max-width: none;

		@media #{$large-up} {
			max-width: 75%;
		}
	}

	.widget {
		padding: 0;
		margin-bottom: 1em;
		font-size: 1.2em;
		font-weight: 300;
		background: none;

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 6%;
		}

		h1, h2, h3, h4, h5, h6, p, ul, ol, li, blockquote {
			color: $color__hero-text;
		}

		ul, ol {
			padding-left: 0;

			li {
				list-style: none;
			}
		}
	}

	label, input, select, textarea {
		display: inline;
		width: auto;
	}
}
