.sticky {
	display: block;

	@media #{$medium-up} {

		.entry-title {
			position: relative;

			a:before {
				font-family: 'Genericons';
				content: '\f308';
				color: $color__text-main;
				line-height: $font__line-height-headings;
				position: absolute;
				top: 2px;
				left: -40px;
				opacity: 0.2;
			}
		}
	}
}

.hentry {
	margin: 0 0 1.5em;
	padding: 2.5em 3.375em;
	background-color: $color__background-screen;

	@media #{$small-only} {
		padding: 1.5em;
	}

	.entry-title {

		a,
		a:visited {
			color: $color__text-main;
		}

		a:hover,
		a:visited:hover {
			color: $color__link;
		}
	}
}

.entry-meta {
	padding-bottom: 1rem;
	font-size: 90%;
	color: $color__text-secondary;
}

@media #{$small-only} {

	.comments-number {
		display: block;
	}

	.post-navigation {
		font-size: 90%;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-footer {
	font-size: 85%;
	color: $color__text-secondary;

	.entry-footer-right {
		float: right;
	}

	.cat-links,
	.tag-links {
		display: block;
	}
}

.paging-navigation {
	clear: both;
	margin: 0 0 1.5em;
}
