.hentry {
	margin: 0 0 1.5em;
	padding: 2.5em 3.375em;
	background-color: $color__content-bg;

	p:last-child {
		margin-bottom: 0;
	}

	&:after {
		@include clearfix;
		@include clearfix-after;
	}

	@media #{$medium-only} {
		padding: 1.5em 2.375em;
	}

	@media #{$small-only} {
		padding: 1em;
	}
}

.sticky {
	display: block;

	@media #{$medium-up} {

		.entry-title {
			position: relative;

			a:before {
				font-family: 'Genericons';
				content: '\f308';
				line-height: $font__line-height-headings;
				position: absolute;
				top: 2px;
				left: -40px;
				opacity: 0.2;
			}
		}
	}
}

.entry-title {
	a,
	a:visited,
	a:before {
		color: $color__primary-text;
	}

	a:hover,
	a:visited:hover {
		color: $color__link;
	}
}

.entry-meta {
	font-size: 90%;
	color: $color__secondary-text;

	.posted-date,
	.posted-author,
	.comments-number {
		margin-right: 1rem;

		&:last-child {
			margin-right: 0;
		}

		@media #{$small-only} {
			display: block;
			margin-right: 0;
		}

		&:before {
			position: relative;
			top: 3px;
			font-family: 'genericons';
			font-size: 18px;
			padding-right: 2px;
		}
	}

	.posted-date:before {
		content: '\f303';
		top: 4px;
	}

	.posted-author:before {
		content: '\f304';
	}

	.comments-number:before {
		content: '\f300';
	}
}

@media #{$small-only} {

	.post-navigation {
		font-size: 90%;
	}
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1em 0 0;
}

.entry-content {
	margin-bottom: 1em;
}

.entry-footer {
	padding-top: 1em;
	font-size: 85%;
	color: $color__secondary-text;

	.entry-footer-right {
		float: right;
	}

	.cat-links,
	.tag-links {
		display: block;
	}
}

.paging-navigation {
	clear: both;
	margin: 0 0 1.5em;
}
