.site-header.video-header {
	background-color: #000;
	color: #000;

	#wp-custom-header-video-button {
		position: absolute;
		top: 0.5em;
		right: 1em;
		opacity: 0.5;
	}

	iframe#wp-custom-header-video {
		height: 100%;
	}

	#wp-custom-header {
		position: absolute;
		height: 100%;
	}
}
