.site-header.video-header {
	overflow: hidden;
	background-color: #000;
	color: #000;

	#wp-custom-header {
		position: absolute;
		height: 100vh;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}

	#wp-custom-header-video-button {
		position: absolute;
		top: 20vh;
		right: 1em;
		opacity: 0.5;
		padding: 0.5em .75em;
	}

	iframe#wp-custom-header-video,
	video#wp-custom-header-video {
		height: 100%;
		width: 100%;
	}

	video#wp-custom-header-video,
	amp-video#wp-custom-header-video > video {
		object-fit: cover;
	}
}
