.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {

}

.comments-area {
	@include panel;
}

/* Comments */

/*
 * Comment Thread
 *
*/

#comments {
	.reply-title,
	.comments-title {
		margin-bottom: 1em;
	}
}

.comment-list{
	padding: 0 1.5em;
	padding: 0 1.5rem;

	&,
	li {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}

	li {
		padding-left: 32px;

		article {
			margin-bottom: 56px;
			padding-left: 1em;
			padding-left: 1rem;
		}

		&.pingback,
		&.trackback{
			border: 2px solid #ddd;
			border-left: 0;
			border-right: 0;
			padding: 1em 0;
			padding: 1rem 0;
			margin-bottom: 1.4em;
			margin-bottom: 2rem;
		}

		.fn {
			font-size: 1.1em;
			font-style: normal;
			font-weight: bold;
		}

		.comment-author,
		.comment-metadata{
			font-family: $sans-font-family;
		}

		.comment-metadata {
			margin-bottom: 1em;
			font-size: rem-calc(13);
			line-height: 1em;

			.edit-link {
				float: right;
			}
		}
	}

	.comment-reply-link {
		&:after {
			content: " \2192";
		}
	}

	.comment-awaiting-moderation {
		border-radius: 4px;
		background-color: #d9d9d9;
		color: #666;
		padding: 10px 15px;
		font-size: .9em;
		margin-top: 1em;
	}
}

.comment-meta .avatar {
	float: left;
	margin-left: -32px;
	left: -1em;
	left: -1rem;
	position: relative;
	border-radius: 3px;
}

.comment-form {
	label {
		.required {
			color: #cc0000;
		}
	}

	input[type="text"],
	input[type="email"],
	input[type="url"] {
		width: 100%;
	}
}

#respond {
	margin-top: 10px;
	font-family: $sans-font-family;

	h3#reply-title {
		font-size: 1.5em !important;
	}

	.logged-in-as {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding: 10px ;
		font-size: .85em;
	}

	.comment-notes {
		font-size: .87em;
		margin-bottom: 2em;
		color: #999;
	}

	.form-allowed-tags {
		font-size: .8em;
		color: #888;
		margin-bottom: 2em;
	}
}
