$site-footer-background: #222 !default;
$site-footer-text-color: contrast-color($site-footer-background, darken($site-footer-background,25%),lighten($site-footer-background,25%),50%);
$site-footer-anchor-color: contrast-color($site-footer-background, darken($site-footer-background,35%),lighten($site-footer-background,35%),50%);
$site-footer-anchor-color-hover: contrast-color($site-footer-background, darken($site-footer-background,40%),lighten($site-footer-background,40%),50%);

.site-footer{
	background-color: $site-footer-background;
	color: $site-footer-text-color;
	padding: 2em 0;
	padding: 2rem 0;

	a{
		color: $site-footer-anchor-color;

		&:hover{
			color: $site-footer-anchor-color-hover;
		}
	}
}

.footer-widget-area {
	overflow: hidden;

	.footer-widget {
		padding: 0 20px;

		@media #{$large-up} {
			width: 33.3333333333%;
			padding: 0 15px;
			float: left;
		}

		&:first-child {
			@media #{$large-up} {
				padding-right: 30px;
				padding-left: 0;
			}
		}

		&:last-child {
			@media #{$large-up} {
				padding-left: 30px;
				padding-right: 0;
			}
		}

		.widget-title {
			color: $site-footer-anchor-color;
			padding: 0 0 .5em 0;
			padding: 0 0 .5rem 0;
			left: auto;
			background: transparent;
			font-weight: bold;
			border-bottom: 2px solid $site-footer-text-color;
			border-radius: 0;
		}

		.widget {
			margin-bottom: 2.25em;
			margin-bottom: 2.25rem;

			li, a {
				border-color: $site-footer-text-color;
				border-color: rgba($site-footer-text-color,.3);
			}
		}

		.widget_calendar #calendar_wrap {
			padding-right: 0;
		}
	}
}

.site-info{
	text-align: center;
}