button,
a.button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	font-family: $sans-font-family;
}

button,
a.button,
a.button:visited,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $color-background-button;
	border: none;
	color: contrast-color($color-background-button,#fff,#000,25%);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: none; /* Corrects inability to style clickable 'input' types in iOS */
	-webkit-font-smoothing: auto;
	font-size: rem-calc(16);
	line-height: 1;
	border-radius: 3px;
	padding: .75em 1em;
	padding: .75rem 1rem;
	display: inline-block;

	&:hover {
		color: contrast-color($color-background-button,#fff,#000,25%);
		background: lighten($color-background-button,3%);
	}

	&:focus
	&:active{
		background: lighten($color-background-button,3%);
	}
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
	margin: 0 3px;
	width: 1rem;
	height: 1rem;
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
a.button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color-text-input;
	background-color: $color-text-input-background;
	border: none;
	transform: 200ms background linear;
	border-radius: 3px;
	resize: none;

	&:focus {
		color: $color-text-input-focus;
		outline: none;
		background-color: darken($color-text-input-background,5%);
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	padding: .75em;
	padding: .75rem;
}

input[type="file"] {
	font-size: 1rem;
}

label{
	font-family: $header-font-family;
	font-weight: bold;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

fieldset {
	border: 1px solid rgba(117, 117, 117, 0.28);
	padding: 25px;
	margin-bottom: rem-calc(20);
}

legend {
	color: $body-font-color;
	font-size: rem-calc(16);
	font-family: $sans-font-family;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0 15px;
}
