/* Galleries */

/*
  *
  * Gallery Archive Page
  *
  */

// we want the Gallery page width to be 100% all the time. the page does
// not support a sidebar, but lets write styles just to make sure
.page-template-page-templatesgalleries-php.primer-no-sidebar #primer-content,
.page-template-page-templatesgalleries-php.primer-has-sidebar #primer-content {
	width: 100%;
}

// for Single Gallery pages we need to style the container holding our images
.page-template-page-templatesgallery-php .gallery {
}

/* Galleries */

.gallery-item a,
.gallery-item img{
	display: block;
	margin: 0 auto .5em;
}

.gallery-caption{
	padding: 0 0 1.5em;
	font-size: .9em;
	font-size: .9rem;
	line-height: 1.5;
	text-align: left;
	font-style: italic;
}

.gallery {
	margin-bottom: 20px;
}

.gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	position: relative;

	a,
	img{
		margin-bottom: 0;
	}
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: -webkit-calc(50% - 4px);
	max-width: calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 4px);
	max-width: calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width: calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width: calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width: calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width: calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width: calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width: calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	margin: 0;
	font-size: .65em;
	font-size: .65rem;
	max-height: 53%;
	font-style: normal;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	&:before {
		content: "";
		height: 100%;
		min-height: 49px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.gallery-item:hover & {
		opacity: 1;
	}

	.gallery-columns-7 &,
	.gallery-columns-8 &,
	.gallery-columns-9 & {
		display: none;
	}

}
