.site-header {
	padding: 40px 0;
	background-color: $header-bg-color;

	.site-header-wrapper {
		@extend .row;
	}
}

.site-title-wrapper {
	@extend .large-12;
	@extend .columns;
}

.site-title {
	font-family: $sans-font-family;
	font-size: emCalc(32);
	font-size: rem-calc(32);
	font-weight: normal;
	color: contrast-color($menu-background-color, #fff, #000, 50%);
	line-height: 1;
	letter-spacing: -.03em;
	font-weight: 700;
	margin-bottom: .25em;

	a {
		color: $body-font-color;
	}
}

.site-description {
	font-size: emCalc(16);
	font-size: rem-calc(16);
	color: lighten($body-font-color,20%);
	font-family: $sans-font-family;
}

.custom-logo {
	max-height: 50px;
	width: auto;

	@media #{$medium-up} {
		max-height:75px;
	}

	@media #{$large-up} {
		max-height:100px;
	}
}
