#content{
	@extend .row;
	padding: 2.25rem 0;

	body.layout-one-column-full & {
		max-width: 100%;
		margin: 0;
		padding: 0;
	}

	body.page-template-page-builder &{
		padding: 0;
		max-width: none;
	}
}

#primary{
	@extend .columns;
	@extend .large-8;

	body.layout-one-column-full & {
		margin: 0;
		padding: 0;
		max-width: none;
		width: 100%;
	}

	body.layout-two-column-reversed &{
		@extend .large-push-4;
	}

	body.layout-one-column-wide &,
	body.layout-one-column-narrow &{
		@extend .large-12;
	}

	body.layout-three-column-default &,
	body.layout-three-column-reversed &,
	body.layout-three-column-center &{
		@extend .large-6;
	}

	body.layout-three-column-center &{
		@extend .large-push-3;
	}

	body.layout-three-column-reversed &{
		@extend .large-push-6;
	}

	body.page-template-page-builder &{
		width: 100%;
		padding: 0;
		float: none;
	}
}

#secondary{
	@extend .large-4;
	@extend .columns;

	body.layout-two-column-reversed &{
		@extend .large-pull-8;
	}

	body.layout-one-column-wide &,
	body.layout-one-column-narrow &{
		@extend .large-12;
	}

	body.layout-three-column-default &,
	body.layout-three-column-reversed &,
	body.layout-three-column-center &{
		@extend .large-3;
	}

	body.layout-three-column-center &,
	body.layout-three-column-reversed &{
		@extend .large-pull-6;
	}
}

#tertiary{
	@extend .large-3;
	@extend .columns;

	body.layout-three-column-reversed &{
		@extend .large-pull-6;
	}
}

.site-branding-container{
	@extend .row;
}

.main-navigation{
	@extend .row;
}

.site-branding{
	@extend .large-12;
	@extend .columns;
}

.site-footer{
	.site-footer-inner{
		@extend .row;
	}

	.site-info{
		@extend .large-12;
		@extend .large-centered;
		@extend .columns;
	}
}

body.layout-one-column-narrow {
	#content{
		max-width: 50em;
	}
}
