#content{
	@extend .row;
}

#primary{
	@extend .large-8;
	@extend .columns;
}

#secondary{
	@extend .large-4;
	@extend .columns;
	padding-top: 1.5em;
	padding-top: 1.5rem;
	padding-bottom: 1.5em;
	padding-bottom: 1.5rem;
}

.site-branding-container{
	@extend .row;
}

.main-navigation{
	@extend .row;
}

.site-branding{
	@extend .large-12;
	@extend .columns;
}

.site-footer{
	.site-footer-inner{
		@extend .row;
	}

	.site-info{
		@extend .large-12;
		@extend .large-centered;
		@extend .columns;
	}
}