#primary{
	background-color: #fff;
	padding-left: 0;
	padding-right: 0;
}

.content-area {
	.page-header {
		padding: 1.5em 3.5em;
		padding: 1.5rem 3.5rem;
		border-bottom: 2px solid #eee;

		.page-title {
			font-size: rem-calc(32);
		}

		@media screen and (max-width: 600px) {
			padding: 0em 1em .5em 1em;
			padding: 0rem 1rem .5rem 1rem;
		}
	}
}

.sticky {
}

.hentry {
	margin: 0;
	padding: 2.5em 3.5em;
	padding: 2.5rem 3.5rem;
	border-bottom: 2px solid #eee;

	@media screen and (max-width: 600px) {
		padding: 0em 1em .5em 1em;
		padding: 0rem 1rem .5rem 1rem;
	}

	.entry-header {
		color: $heading-font-color;
	}

	&.has-featured-image {
		padding: 0;

		.entry-header {
			padding: 2.5em 3.5em;
			padding: 2.5rem 3.5rem;
			background-size: cover;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(0,0,0,.5);
			}

			* {
				position: relative;
				z-index: 1;
			}
		}

		.entry-title,
		.entry-title a {
			color: #fff;
		}

		.entry-content {
			margin: 2.5em 3.5em;
			margin: 2.5rem 3.5rem;
		}

		.entry-footer {
			margin: 2.5em 3.5em;
			margin: 2.5rem 3.5rem;
		}
	}
}

.byline,
.updated {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;

	.has-featured-image & {
		padding: 0 3.5em;
		padding: 0 3.5rem;
	}
}

.page-content {
	margin-top: 0;
	padding: 2.5em 3.5em;
	padding: 2.5rem 3.5rem;

	@media screen and (max-width: 600px) {
		padding: 0em 1em .5em 1em;
		padding: 0rem 1rem .5rem 1rem;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-title{
	line-height: 1.2;

	a{
		color: $heading-font-color;
	}

	.single &{
		font-size: rem-calc(48);
		font-weight: 100;
		line-height: 1.2;
	}
}

.entry-footer{
	color: $small-font-color;
	font-family: $header-font-family;
	font-size: rem-calc(14);
	border-top: 1px solid rgba(0,0,0,.1);
	padding-top: 1em;
	overflow: hidden;

	a{
		color: $primary-color;
	}

	.entry-footer-right {
		float: right;
	}

	.cat-links,
	.tags-links {
		display: block;
	}

	.comments-link a {
		vertical-align: top;
	}

	.post-edit-link {
		font-family: $header-font-family;
		font-weight: normal;
		border-radius: $global-radius;
		border: 1px solid $primary-color;
		padding: .5em 1em;
		padding: .5rem 1rem;
		margin-left: 1rem;
		text-align: center;
		display: inline-block;
	}
}

.entry-meta{
	border-bottom: 1px solid rgba(0,0,0,.1);
	line-height: 3em;
	line-height: 3rem;
	margin-bottom: 2em;
	margin-bottom: 2rem;
	@extend .clearfix;

	.has-featured-image & {
		border-bottom: 1px solid rgba(255,255,255,.2);
	}
}

.entry-date {
	font-style: italic;
}

.post-format{
	color: $primary-color;
	text-transform: uppercase;
	font-family: $sans-font-family;
	font-size: rem-calc(13);
	font-weight: bold;
}

.posted-on{
	float: right;
	font-family: $body-font-family;
	font-style: italic;
	font-size: rem-calc(13);

	a{
		color: $small-font-color;

		.has-featured-image & { color: #fff; }
	}
}

.more-link{
	font-family: $header-font-family;
	font-weight: normal;
	border-radius: $global-radius;
	border: 1px solid $primary-color;
	padding: .5em 1em;
	padding: .5rem 1rem;
}

article.format-link {
	background: #f5f5f5;

	.entry-title {
		font-family: $sans-font-family;
		font-weight: bold;
		font-size: rem-calc(28);
	}
}