.sticky {}

.no-results,
.not-found{
	@include panel;

	.page-header{
		margin-bottom: 1em;
	}
}

.hentry {
	@include panel;

	.attachment-primer-featured{
		width: 100%;
		height: auto;
	}

	.entry-header {
		color: $heading-font-color;
	}
}

.featured-image{
	margin-bottom: 1em;
	margin-bottom: 1.5rem;
}

.byline,
.updated {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-content,
.entry-summary {
	margin: 1.5em 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-title{
	margin-bottom: .25em;
	font-size: rem-calc(28);

	a{
		color: $heading-font-color;
	}

	.single &{
		font-weight: 300;
		font-size: rem-calc(36);
	}
}

.archive-title{
	margin-bottom: 1em;
	margin-bottom: 2rem;
}

.entry-footer{
	color: $small-font-color;
	font-family: $header-font-family;
	font-size: rem-calc(14);
	padding-top: 1em;
	@include clearfix;

	a{
		color: $primary-color;
	}

	.entry-footer-right {
		float: right;
	}

	.cat-links,
	.tags-links {
		display: block;
	}

	.comments-link a {
		vertical-align: top;
	}

}

.entry-meta {
	border-bottom: 1px solid rgba(0,0,0,.1);
	line-height: 1.4em;
	line-height: 1.4rem;
	margin-bottom: 1em;
	margin-bottom: 1rem;
	padding-bottom: 1em;
	padding-bottom: 1rem;
	font-size: .9em;
	font-family: $sans-font-family;
	@extend .clearfix;

	i{
		vertical-align: middle;
		line-height: .8;
	}

	.has-post-thumbnail &{
		border-bottom-width: 0;
	}
}

.entry-media-meta {
	.button {
		margin-right: 1em;
		margin-right: 1rem;

		@media #{$small-only}{
			margin-bottom: 10px;
		}
	}
}

.event-meta,
.sermon-meta,
.location-meta,
.person-meta {
	margin-bottom: 1em;
	margin-bottom: 1rem;
	font-family: $sans-font-family;

	.genericon {
		line-height: 2;
	}


	span {
		-ms-word-wrap: break-word;
		word-wrap: break-word;
		white-space: nowrap;
		margin-right: .5em;
		margin-right: .5rem;
		line-height: 2;
	}
}

.post-format{
	color: $primary-color;
	text-transform: uppercase;
	font-family: $sans-font-family;
	font-size: rem-calc(13);
	font-weight: bold;
}

.more-link{
	font-family: $header-font-family;
	font-weight: normal;
	border-radius: $global-radius;
	border: 1px solid $primary-color;
	padding: .5em 1em;
	padding: .5rem 1rem;
}

article.format-link {
	background: #f5f5f5;

	.entry-title {
		font-family: $sans-font-family;
		font-weight: bold;
		font-size: rem-calc(28);
	}
}

.entry-media.audio {
	margin-bottom: 1.5em;
}

.primer-event-full-map,
.entry-media.video {
	height: 0;
	position: relative;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-bottom: 66%;

	> * {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%!important;
		height: 100%!important;
	}

	.mejs-container {
		width: 100%!important;
		height: 100%!important;
	}
}
