.social-menu {
	@extend .clearfix;
	float: right;
	width: 50%;

	a{
		@extend .genericon;
		@extend .genericon-link;
		font-size: 0;
		text-indent: -9999em;
		border: 0;
		width: 32px;
		height: 32px;
		transition: 200ms opacity;
		color: $body-bg;
		background: $primary-color;
		border-radius: $global-radius;

		&:before{
			-webkit-font-smoothing: subpixel-antialiased;
			padding: 7px;
			display: inline-block;
			font-size: 18px;
		}

		&:hover{
			background: $primary-color;
		}
	}

	a[href*="wordpress.org"]:before,
	a[href*="wordpress.com"]:before {
		content: '\f205';
		&:hover{
			color:   #21759b;
		}
	}
	a[href*="facebook.com"]:before {
		content: '\f203';
		&:hover{
			color:   #3b5998;
		}
	}
	a[href*="twitter.com"]:before {
		content: '\f202';
		&:hover{
			color:   #33ccff;
		}
	}
	a[href*="dribbble.com"]:before {
		content: '\f201';
		&:hover{
			color:   #ea4c89;
		}
	}
	a[href*="plus.google.com"]:before {
		content: '\f206';
		&:hover{
			color: #dd4b39;
		}
	}
	a[href*="pinterest.com"]:before {
		content: '\f210';
		&:hover{
			color:   #c8232c;
		}
	}
	a[href*="github.com"]:before {
		content: '\f200';
		&:hover{
			color:   #171515;
		}
	}
	a[href*="tumblr.com"]:before {
		content: '\f214';
		&:hover{
			color:   #34526f;
		}
	}
	a[href*="youtube.com"]:before {
		content: '\f213';
		&:hover{
			color:   #c4302b;
		}
	}
	a[href*="flickr.com"]:before {
		content: '\f211';
		&:hover{
			color:   #ff0084;
		}
	}
	a[href*="vimeo.com"]:before {
		content: '\f212';
		&:hover{
			color:   #1AB7EA;
		}
	}
	a[href*="instagram.com"]:before {
		content: '\f215';
		&:hover{
			color:   #3f729b;
		}
	}
	a[href*="codepen.io"]:before {
		content: '\f216';
		&:hover{
			color:   #000;
		}
	}
	a[href*="linkedin.com"]:before {
		content: '\f208';
		&:hover{
			color:   #0e76a8;
		}
	}

	ul {
		list-style: none;
		text-align: center;
		margin: 0 1.25em 0 0;
		margin: 0 1.25rem 0 0;
		font-size: 0;
		text-align: right;

		li {
			display:  inline-block;
			position: relative;
			padding: 0;
			margin: 3px;
		}
	}
}