.primer-font-options {
  display: none;
  background: #eee;
  height: 280px;
  overflow: auto; }

.primer-filter-text {
  position: relative; }

.primer-filter-text:before {
  content: '';
  width: 0;
  height: 0;
  border-color: #ccc transparent;
  border-style: solid;
  border-width: 6px 6px 0;
  position: absolute;
  top: 18px;
  right: 15px;
  z-index: 1; }

.primer-font-options,
.primer-filter-text {
  background: #fff;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.primer-filter-text,
.primer-font-options li {
  display: block;
  padding: 5px 10px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  height: 30px;
  zoom: 0.65;
  -moz-transform: scale(0.65);
  -moz-transform-origin: 0 0;
  background-image: url(../../images/fonts/sprite-sheet.png);
  margin-bottom: 0; }

.primer-font-active,
.primer-font-options li:hover {
  background-color: #effbff; }

.primer-font-architects-daughter {
  background-position: -5px -5px; }

.primer-font-asap {
  background-position: -5px -55px; }

.primer-font-cabin {
  background-position: -5px -105px; }

.primer-font-droid-sans {
  background-position: -5px -155px; }

.primer-font-droid-serif {
  background-position: -5px -205px; }

.primer-font-josefin-sans {
  background-position: -5px -255px; }

.primer-font-lato {
  background-position: -5px -305px; }

.primer-font-merriweather {
  background-position: -5px -355px; }

.primer-font-merriweather-sans {
  background-position: -5px -405px; }

.primer-font-montserrat {
  background-position: -5px -455px; }

.primer-font-open-sans,
.primer-font-open-sans-\(default\) {
  background-position: -5px -505px; }

.primer-font-oswald {
  background-position: -5px -555px; }

.primer-font-playfair-display {
  background-position: -5px -605px; }

.primer-font-pt-sans {
  background-position: -5px -655px; }

.primer-font-pt-serif {
  background-position: -5px -705px; }

.primer-font-raleway {
  background-position: -5px -755px; }

.primer-font-roboto {
  background-position: -5px -805px; }

.primer-font-roboto-slab {
  background-position: -5px -855px; }

.primer-font-source-sans-pro {
  background-position: -5px -905px; }

.primer-font-source-serif-pro {
  background-position: -5px -955px; }

.primer-font-ubuntu {
  background-position: -5px -1005px; }
