// Fonts
$font__heading:   "Open Sans", sans-serif;
$font__main:      "Open Sans", sans-serif;
$font__secondary: "Open Sans", sans-serif;

// Text
$color__site-title-text:            #ffffff; // header_textcolor
$color__tagline-text:               #ffffff;
$color__hero-text:                  #ffffff;
$color__menu-text:                  #ffffff;
$color__heading-text:               #353535;
$color__primary-text:               #252525;
$color__secondary-text:             #686868;
$color__footer-widget-heading-text: #353535;
$color__footer-widget-text:         #252525;
$color__footer-menu-text:           #686868;
$color__footer-text:                #686868;

// Links & Buttons
$color__link:        #ff6663;
$color__button_bg:   #ff6663;
$color__button-text: #ffffff;

// Backgrounds
$color__bg:                       #f5f5f5;
$color__content-bg:               #ffffff;
$color__hero-bg:                  #0b3954;
$color__menu-bg:                  #0b3954;
$color__footer-widget-bg:         #0b3954;
$color__footer-widget-content-bg: #ffffff;
$color__footer-bg:                #f5f5f5;
