// Fonts
$primary-font:   "Open Sans";
$secondary-font: "Open Sans";
$heading-font:   "Open Sans";

// Colors
$header-textcolor:        #252f31;
$background-color:        #f5f5f5;
$header-background-color: #ffffff;
$footer-background-color: #eeeeee;
$menu-background-color:   #252f31;
$tagline-text-color:      #7c7c7c;
$link-color:              #1585cf;
$main-text-color:         #252f31;
$secondary-text-color:    #686868;
