// Fonts
$primary-font:   "Open Sans";
$secondary-font: "Open Sans";
$heading-font:   "Open Sans";

// Colors
$header-textcolor:        #f4f5f9;
$background-color:        #f4f5f9;
$header-background-color: #0b3954;
$menu-background-color:   #0b3954;
$footer-background-color: #0b3954;
$tagline-text-color:      #f4f5f9;
$link-color:              #ff6663;
$main-text-color:         #0b3954;
$secondary-text-color:    #686868;
