#bbpress-forums #bbp-search-form #bbp_search {
	padding: 0.3em;
}

#bbp-search-form {
	margin-bottom: 10px;
}

#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar {
	margin-bottom: -3px;
}


.subscription-toggle {
	float: right;
	margin: 12px 0 10px 0;
}

#bbpress-forums div.wp-editor-container {
	border: 1px solid whitesmoke;
}
