#bbpress-forums {
	#bbp-search-form #bbp_search {
		padding: 0.3em;
	}

	p.bbp-topic-meta img.avatar,
	div.bbp-template-notice img.avatar {
		margin-bottom: -3px;
	}

	div.wp-editor-container {
		border: 1px solid whitesmoke;
	}
}

#bbp-search-form {
	margin-bottom: 10px;

	#bbp_search {
		width: calc(100% - 87.63px);
		padding: 0.32em;
	}
}

.subscription-toggle {
	float: right;
	margin: 12px 0 10px 0;
}

.bbp-login-form label,
.bbp-login-form .bbp-username input,
.bbp-login-form .bbp-email input,
.bbp-login-form .bbp-password input {
	display: block;
	width: 100%;
}
