/*--------------------------------------------------------------
>>> Gutenberg:
--------------------------------------------------------------*/
[class^="wp-block-"].alignfull {
	margin-left: -3.375em;
	margin-right: -3.375em;

	@media #{$medium-only} {
		margin-left: -2.375em;
		margin-right: -2.375em;
	}

	@media #{$small-only} {
		margin-left: -1em;
		margin-right: -1em;
	}

	&,
	img {
		max-width: calc( 100% + 7.50em );

		@media #{$medium-only} {
			max-width: calc( 100% + 4.75em );
		}

		@media #{$small-only} {
			max-width: calc( 100% + 2em );
		}
	}
}

// .wp-block-image,
// .wp-block-gallery,
// .wp-block-video,
// .wp-block-quote,
// .wp-block-text-columns,
// .entry-content ul,
// .entry-content ol,
// .wp-block-cover-text {
// 	&.alignleft {
// 		margin: 0 1.5em 1.5em 0;
// 	}

// 	&.alignright {
// 		margin: 0 0 1.5em 1.5em;
// 	}

// 	&.alignleft,
// 	&.alignright {
// 		max-width: 40%;
// 		width: 100%;

// 		img {
// 			width: inherit;
// 		}
// 	}
// }

// .wp-block-audio {
// 	audio {
// 		width: 100%;
// 	}
// }

// .wp-block-pullquote {
// 	padding: 2em 0;
// 	border-top: none;
// 	border-bottom: none;

// 	p {
// 		margin: 0 0 0.25rem 0;
// 	}
// }
