.woocommerce-page {

	div.product {

		.woocommerce-product-gallery {

			figure.woocommerce-product-gallery__wrapper {
				margin: 0;
			}

		}

		.summary {
			margin-top: 0;
		}

		.commentlist {
			padding-left: 0;
		}

	}

	&.woocommerce div.product form.cart {
		margin: 1em 0;
	}

	ul.products li.product.primer-2-column-product {
		width: 48.05%;
	}

	.primer-woocommerce .cart .qty {
		padding: 0.18em;
	}

	#reviews #comments ol.commentlist li {

		img.avatar {
			width: 60px;
		}

		.comment-text {
			margin: 0 0 0 80px;
		}

	}

	form.woocommerce-cart-form {

		table.cart td.actions #coupon_code {
			width: 55%;
			margin-right: 0;
		}

	}

	table.cart {

		img {
			width: 100%;
			max-width: 75px;
			margin-bottom: 0;
		}

		td.actions .input-text {
			padding: 7px !important;
		}

	}

}

body.primer-woocommerce-l10n.woocommerce ul.products li.product .button,
.woocommerce a.added_to_cart {
	max-width: 100%;
	white-space: normal;
	text-align: center;
	display: block;

	@media #{$large-up} {
		font-size: 0.75rem;
	}
}

.woocommerce a.added_to_cart {
	text-align: left;
}

.woocommerce nav.woocommerce-pagination {
	margin-bottom: 0;
	text-align: left;

	.nav-links .page-numbers {
		padding: 0.3em 0.6em;

		&:last-child {
			margin-right: 0;
			padding-right: 0;
		}

		@media #{$small-only} {

			&:first-child {
				margin-left: 0;
				padding-left: 0;
			}
		}
	}
}

body.post-type-archive,
body.single-product {
	span.onsale,
	ul.products li.product .onsale {
		padding: 2px 8px;
		border-radius: 0;
		margin: 0;
		min-height: auto;
		min-width: auto;
		line-height: inherit;
	}
}

body.single-product {
	span.onsale {
		padding: 3px 18px;
		top: 0;
		left: 0;
	}
}

.primer-wc-cart-menu {
	display: none !important;

	.main-navigation & {
		display: list-item !important;
	}

	.cart-preview-count {
		font-weight: 800;
		margin-left: 8px;
	}

	a:hover {
		cursor: pointer;
	}

	.widget_shopping_cart {
		float: left;
		margin: 0;
		padding: 0 1em 1em 1em;

		p.buttons a:first-child {
			margin-bottom: 5px;
		}

		p.buttons {
			float: left;
			width: 100%;
			margin: 0;

			a {
				text-align: center;
				width: 100%;
				background-color: $color__button-bg;
				color: $color__button-text;
			}
		}
	}

	.widget_shopping_cart_content p.total {
		float: left;
		width: 100%;
		padding-top: 10px;
		margin: 10px 0;
	}

	ul.cart_list.product_list_widget {
		float: left;
		display: inline-block;
		background: inherit;
		box-shadow: none;
		max-height: 250px;
		overflow-y: auto;
	}
}

.main-navigation ul ul ul.cart_list {
	position: inherit;
}

.primer-wc-cart-menu ul.cart_list.product_list_widget {
	display: block;
	width: 100%;
}

ul.cart_list li.mini_cart_item img {
	width: 100%;
	max-width: 55px;
}

ul.cart_list li.mini_cart_item a:nth-child(2) {
	color: $color__primary-text;
	padding: 1rem 0 5px 1.75rem;
	width: 100%;
	opacity: 1;
	transition: opacity .25s ease-out;
	margin: 0;
	border: none;

	&:hover {
		background: inherit;
		color: rgba($color__primary-text, 0.8);
	}
}

.woocommerce form .form-row .required {
	text-decoration: none;
}

.woocommerce ul.product_list_widget li .quantity {
	padding-left: 7px;
	font-style: italic;
}

.woocommerce.widget_shopping_cart .cart_list li {
	padding-left: 0;
	width: 100%;

	a.remove {
		float: left;
		margin-top: 10px;
		padding: 0 !important;
		position: relative;
		z-index: 999;
		border: none;
		box-shadow: none;

		&:hover {
			background: red !important;
		}
	}
}

.footer-menu .primer-wc-cart-menu-item {
	display: none;
}

li.primer-wc-cart-menu .primer-wc-cart-sub-menu {
	background-color: $color__content-bg;
}

@media #{$large-up} {

	li.primer-wc-cart-menu .primer-wc-cart-sub-menu {
		margin-left: -6em;
	}
}

@media #{$medium-down} {

	.primer-wc-cart-menu-item.open .primer-wc-cart-sub-menu,
	.primer-wc-cart-menu-item.open ul.primer-wc-cart-sub-menu {
		display: inline-block;
		width: 100%;
	}

	li.primer-wc-cart-menu {
		.widget_shopping_cart {
			width: 100%;
			margin-left: 0;
		}

		.product_list_widget {
			display: inline-block;
			width: 100%;
		}
	}

	ul.cart_list li.mini_cart_item a:nth-child(2) {
		padding-bottom: 0;
	}
}
