.woocommerce-page {

	/* 2 Column Layout */
	ul.products li.product.primer-2-column-product {
		width: 48.05%;
	}

	/* Quantity field */
	.primer-woocommerce .cart .qty {
		padding: 0.18em;
	}

}

body.post-type-archive,
body.single-product {

	/* On sale badge */
	span.onsale {
		padding: 0;
	}

}
