//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. Base Typography
//   4. Forms
//   5. Widgets
//   6. Masthead

// 1. Global
// ---------

$row-width: 1100px;
$foundation-palette: (
  primary: #2199e8,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);
$medium-gray: #cacaca;
$black: #0a0a0a;
$white: #fefefe;
$color-background-button: map-get($foundation-palette, primary);
$body-font-color: $black;
$sans-font-family: 'Open Sans', sans-serif;
$global-weight-normal: normal;
$global-radius: 0;

// 2. Breakpoints
// --------------

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

// 3. Base Typography
// ------------------

$header-font-family: $sans-font-family;
$header-font-style: normal;
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;
$header-color: inherit;
$header-text-rendering: optimizeLegibility;
$small-font-size: 80%;
$paragraph-margin-bottom: 1rem;
$paragraph-text-rendering: optimizeLegibility;
$code-color: $black;
$code-font-family: $font-family-monospace;
$code-font-weight: $global-weight-normal;
$code-padding: rem-calc(2 5 1);
$anchor-color: map-get($foundation-palette, primary);
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);
$anchor-color-visited: scale-color($anchor-color, $lightness: -14%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$hr-margin: rem-calc(20) auto;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-position: outside;
$list-side-margin: 1.25rem;
$blockquote-padding: rem-calc(9 20 0 19);
$blockquote-border: 1px solid $medium-gray;

// 4. Forms
// ---------

$input-color: $black;
$input-background: $white;

// 5. Widgets
// -----------

$widget-font-family: $header-font-family;
$widget-font-size: rem-calc(.9);

// 6. Masthead
// ------------

$header-bg-color: white;