// Allows the use of rem-calc() or lower-bound() in your settings
@import "../mixins/functions";

// Left-to-Right language support by default
$text-direction: ltr;

/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/

$body-font-color: #222;
$body-font-weight: normal;
$body-font-style: normal;
$body-font-size: 16px;

$font-weight-normal: normal;
$font-weight-bold: bold;

// We use this to control font-smoothing
$font-smoothing: subpixel-antialiased;

// We use these as default colors throughout
$primary-color: #00a63f;
$secondary-color: #000000;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$menu-background-color: #222;
$alert-color: #c60f13;
$success-color: #5da423;

// Backgrounds
$color-background-screen: blue; // body
$color-background-hr: #ccc; // horizontal rule
$color-background-button: $primary-color; // buttons

$color-background-pre: #eee; // preformatted text output
$color-background-ins: #fff9c0; // text that has been inserted into a document

// Text
$color-text-screen: #21759b;
$color-text-input: #666;
$color-text-input-focus: #111;
$color-text-input-background: #eee;
$color-link: $primary-color;
$color-link-visited: $primary-color;
$color-link-hover: lighten($primary-color,3%);
$color-text-main: #404040;

// Borders
$color-border-button: #ccc #ccc #bbb;
$color-border-button-hover: #ccc #bbb #aaa;
$color-border-button-focus: #aaa #bbb #bbb;
$color-border-input: #666;
$color-border-abbr: #666;

// We use these to make sure border radius matches unless we want it different.
$global-radius: 3px;
$global-rounded: 1000px;

// We use these to control inset shadow shiny edges and depressions.
$shiny-edge-size: 0 1px 0;
$shiny-edge-color: rgba(#fff, .5);
$shiny-edge-active-color: rgba(#000, .2);

// a. Base
// - - - - - - - - - - - - - - - - - - - - - - - - -

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with browser-based text zoom or user-set defaults.

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be different and not have it affect the grid breakpoints,
// set $rem-base to $base-font-size and make sure $base-font-size is a px value.
$base-font-size: 100%;

// The $base-font-size is 100% while $base-line-height is 150%
$base-line-height: 150%;

// We use this to control whether or not CSS classes come through in the gem files.
$include-html-classes: true;
$include-print-styles: true;
$include-html-global-classes: $include-html-classes;

// b. Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

$include-html-grid-classes: $include-html-classes;
$include-xl-html-grid-classes: false;

$row-width: rem-calc(1180);
$total-columns: 12;
$column-gutter: rem-calc(40);

// We use these to control various global styles
$body-bg: #e7e7e7;
$heading-font-color: #222;
$body-font-color: #444;
$body-font-subtle-color: #aaa;
$sans-font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$serif-font-family: Merriweather, Georgia, "Times New Roman", serif;
$body-font-family: $serif-font-family;
$font-weight-normal:normal;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;
$widget-bg: #fff;
$header-bg: #fff;

// We use this to control font-smoothing
$font-smoothing: antialiased;

// We use these to make sure border radius matches unless we want it different.
$global-radius: 3px;
$global-rounded: 1000px;

// We use these to control inset shadow shiny edges and depressions.
$shiny-edge-size: 0 1px 0;
$shiny-edge-color: rgba(#fff, .5);
$shiny-edge-active-color: rgba(#000, .2);

// d. Media Query Ranges
// - - - - - - - - - - - - - - - - - - - - - - - - -

$small-range: (0em, 40em);
$medium-range: (40.063em, 61em);
$large-range: (61.063em, 90em);
$xlarge-range: (90.063em, 120em);
$xxlarge-range: (120.063em, 99999999em);

$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

// Legacy
$small: $medium-up;
$medium: $medium-up;
$large: $large-up;

// We use this as cursors values for enabling the option of having custom cursors in the whole site's stylesheet
$cursor-crosshair-value: crosshair;
$cursor-default-value: default;
$cursor-pointer-value: pointer;
$cursor-help-value: help;
$cursor-text-value: text;

// e. Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

$include-html-type-classes: $include-html-classes;

// We use these to control header font styles
$header-font-family: $sans-font-family;
$header-font-weight: normal;
$header-font-style: bold;
$header-font-color: #222;
$header-line-height: 1.4;
$header-top-margin: 0;
$header-bottom-margin: 1rem;
$header-text-rendering: optimizeLegibility;

// We use these to control header font sizes
$h1-font-size: rem-calc(48);
$h2-font-size: rem-calc(26);
$h3-font-size: rem-calc(24);
$h4-font-size: rem-calc(22);
$h5-font-size: rem-calc(20);
$h6-font-size: 1rem;

// We use these to control header size reduction on small screens
$h1-font-reduction: rem-calc(10) !default;
$h2-font-reduction: rem-calc(8) !default;
$h3-font-reduction: rem-calc(5) !default;
$h4-font-reduction: rem-calc(5) !default;
$h5-font-reduction: 0 !default;
$h6-font-reduction: 0 !default;

// These control how subheaders are styled.
$subheader-line-height: 1.4;
$subheader-font-color: scale-color($header-font-color, $lightness: 35%);
$subheader-font-weight: $font-weight-normal;
$subheader-top-margin: 0;
$subheader-bottom-margin: .5rem;

// A general <small> styling
$small-font-size: 60%;
$small-font-color: scale-color($header-font-color, $lightness: 35%);

// We use these to style paragraphs
$paragraph-font-family: inherit;
$paragraph-font-weight: $font-weight-normal;
$paragraph-font-size: rem-calc(18);
$paragraph-line-height: 1.6;
$paragraph-margin-bottom: rem-calc(20);
$paragraph-aside-font-size: rem-calc(14);
$paragraph-aside-line-height: 1.35;
$paragraph-aside-font-style: italic;
$paragraph-text-rendering: optimizeLegibility;

// We use these to style <code> tags
$code-color: #333;
$code-font-family: Consolas, 'Liberation Mono', Courier, monospace;
$code-font-weight: $font-weight-normal;
$code-font-size: 1em;
$code-background-color: contrast-color($code-color,rgba(255,255,255,.1),rgba(0,0,0,0.1));
$code-border-size: 1px;
$code-border-style: solid;
$code-border-color: contrast-color($code-color,rgba(255,255,255,.1),rgba(0,0,0,0.1));
$code-border-radius: 2px;
$code-padding: rem-calc(2) rem-calc(5) rem-calc(1);

// We use these to style anchors
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$anchor-font-color: $primary-color;
$anchor-font-color-hover: scale-color($primary-color, $lightness: -14%);

// We use these to style the <hr> element
$hr-border-width: 1px;
$hr-border-style: solid;
$hr-border-color: #ddd;
$hr-margin: rem-calc(20);

// We use these to style lists
$list-font-family: $paragraph-font-family;
$list-font-size: $paragraph-font-size;
$list-line-height: $paragraph-line-height;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-position: outside;
$list-side-margin: 1.1rem;
$list-ordered-side-margin: 1.4rem;
$list-side-margin-no-bullet: 0;
$list-nested-margin: rem-calc(20);
$definition-list-header-weight: $font-weight-bold;
$definition-list-header-margin-bottom: .3rem;
$definition-list-margin-bottom: rem-calc(12);

// We use these to style blockquotes
$blockquote-font-color: scale-color($header-font-color, $lightness: 35%);
$blockquote-padding: rem-calc(20 20 0 20);
$blockquote-border: 2px solid #ddd;
$blockquote-cite-font-size: rem-calc(13);
$blockquote-cite-font-color: scale-color($header-font-color, $lightness: 23%);
$blockquote-cite-link-color: $blockquote-cite-font-color;

// We use these to style widgets
$widget-font-size: rem-calc(14);
$widget-font-family: $sans-font-family;

// Acronym styles
$acronym-underline: 1px dotted #ddd;

// We use these to control padding and margin
$microformat-padding: rem-calc(10 12);
$microformat-margin: rem-calc(0 0 20 0);

// We use these to control the border styles
$microformat-border-width: 1px;
$microformat-border-style: solid;
$microformat-border-color: #ddd;

// We use these to control full name font styles
$microformat-fullname-font-weight: $font-weight-bold;
$microformat-fullname-font-size: rem-calc(15);

// We use this to control the summary font styles
$microformat-summary-font-weight: $font-weight-bold;

// We use this to control abbr padding
$microformat-abbr-padding: rem-calc(0 1);

// We use this to control abbr font styles
$microformat-abbr-font-weight: $font-weight-bold;
$microformat-abbr-font-decoration: none;

// Menu font
$menu-font-family: $sans-font-family;
