button,
a.button,
a.button:visited,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	border: none;
	border-radius: 3px;
	background: $color__background-button;
	color: $color__text-button;
	line-height: 1;
	margin-bottom: 0.5em;
	padding: 0.75em 1em;
	white-space: nowrap;

	&:hover,
	&:active,
	&:focus {
		cursor: pointer;
		background-color: $color__background-button-hover;
		color: $color__text-button;
	}
}
