input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border;
	border-radius: 3px;
	padding: 0.75rem;
	resize: none;

	&:focus {
		color: $color__text-input-focus;
	}
}

input[type="checkbox"],
input[type="radio"] {
	margin: 0 0.25em;
}

input[type="file"] {
	@include font-size(0.85);
}

select {
	border: 1px solid $color__border;
}

textarea {
	width: 100%;
}

fieldset {
	padding: 0.5em 1.5em;
	border-color: $color__border;
}

legend {
	padding: 0 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

form label {
	font-weight: bold;
}
