a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link;
	}

	&:hover,
	&:focus,
	&:active {
		color: rgba($color__link, 0.8);
	}

	&:hover,
	&:active,
	&:focus {
		outline: 0;
	}
}

.wp-pointer-buttons a.close,
.wp-pointer-buttons a.close:visited {
	color: #0073aa;

	&:hover,
	&:active,
	&:focus {
		color: #00a0d2;
	}
}
