.main-navigation-container {
	background-color: $color__menu-bg;

	@media #{$small-only} {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9999;
	}
}

.main-navigation {
	@include container($container-size);

	display: none;

	&.open {
		display: block;
		padding-top: 80px;

		@media only screen and (max-width: 641px) {
			.admin-bar & {
				padding-top: 148px;
			}
		}

		@media #{$medium-up} {
			padding-top: 0;
		}
	}

	.expand {
		font-size: 1.8rem;
		color: $color__menu-text;
		position: absolute;
		right: 0;
		top: 0;
		padding: 16px 0;
		width: 50px;
		line-height: 1;
		text-align: center;
		border-bottom: none;
		border-left: 1px solid rgba(0, 0, 0, 0.1);
		text-indent: 0;

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}

		&:before {
			content: "+";
		}

		@media #{$medium-up} {
			display: none;
		}
	}

	.menu-item-has-children {
		position: relative;

		&.open > .expand:before {
			content: "-";
		}
	}

	@media #{$medium-up} {
		display: block;
	}

	.menu-main-menu-container {
		@media #{$medium-up} {
			float: left;
			margin-left: 25px;
		}
	}

	li li {
		text-indent: 1rem;
	}

	li li li {
		text-indent: 1.5rem;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		a {
			color: $color__menu-text;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}

		@media #{$small-only} {

			.open > .sub-menu {
				display: block;
			}
		}

		ul {
			z-index: 99999;
			background-color: $color__menu-bg;

			@media #{$small-only} {
				display: none;
			}

			@media #{$medium-up} {
				position: absolute;
				left: -999em;
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

				ul {
					left: -999em;
					top: 0;
				}

				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}

				a {
					width: 200px;
				}
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	@media #{$medium-up} {

		li {
			position: relative;
			float: left;
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 1.6em 1em;
		color: $color__menu-text;

		@media #{$small-only} {
			padding-top: 1.2em;
			padding-bottom: 1.2em;
		}

		&:hover,
		&:visited:hover {
			background-color: rgba(0, 0, 0, 0.1);
			color: $color__menu-text;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current_page_parent > a,
	.current-menu-ancestor > a {
		background-color: rgba(0, 0, 0, 0.1);
	}

	.sub-menu .menu-item-has-children > a::after {
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		right: 10px;
		top: 50%;
		border-bottom: 7px solid transparent;
		border-top: 7px solid transparent;
		border-left: 7px solid $color__menu-text;
		transform: translateY(-50%);
		display: none;

		@media #{$medium-up} {
			display: inline;
		}
	}

	.search-form {
		padding: 20px;
		clear: both;
		position: relative;

		@media #{$medium-up} {
			padding: 0;
			float: right;
			margin: 1em;
			height: 48px;
			clear: none;
		}

		.site-footer & {
			display: inline-block;
			float: none;
		}

		.screen-reader-text {
			display: none;
		}

		input[type="search"] {
			background: none;
			border: none;
			color: #fff;
			font-size: 14px;
			margin: 0;
			position: relative;
			padding: 10px 35px 10px 0;
			display: block;
			width: 100%;
			border-bottom: 1px solid transparentize(#fff, 0.8);
		}

		input[type="submit"] {
			background: transparent url("assets/images/search-icon.svg") no-repeat center bottom;
			background-size: 17px;
			display: block;
			height: 21px;
			text-indent: -9999px;
			vertical-align: middle;
			width: 21px;
			padding: 0;
			display: inline-block;
			position: absolute;
			right: 30px;
			top: 27px;

			@media #{$medium-up} {
				right: 10px;
				top: 10px;
			}
		}

		::-webkit-input-placeholder,
		:-moz-placeholder,
		::-moz-placeholder,
		:-ms-input-placeholder {
			color: #fff;
			font-size: 8px;
		}
	}
}

body.no-max-width .main-navigation {
	max-width: none;
}

.menu-toggle {
	width: 4rem;
	padding: 0.6rem;
	cursor: pointer;
	position: absolute;
	z-index: 9999;
	display: none;
	top: 15px;
	right: 0;
	display: block;
	padding: 0 9px 24px 0;
	z-index: 99999;

	.admin-bar & {
		top: 48px;
	}

	@media #{$medium-up} {
		display: none;
	}

	div {
		background-color: $color__menu-text;
		margin: 0.43rem .86rem 0.43rem 0;
		transform: rotate(0deg);
		transition: .15s ease-in-out;
		transform-origin: left center;
		height: 0.45rem;
	}

	&.open {
		top: 15px;

		div {
			&:nth-child(1) {
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				width: 0%;
				opacity: 0;
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
	}

	@media only screen and (max-width: 768px) {
		.admin-bar & {
			top: 68px;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
