.main-navigation-container {
	background-color: $color__background-menu;
}

.main-navigation {
	@include container($container-size);

	.menu-main-menu-container {
		@include span(12);
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			left: -999em;
			z-index: 99999;
			background-color: $color__background-menu;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
	}

	a {
		display: block;
		text-decoration: none;
		padding: 1.5em 1em;
		color: $color__text-menu;

		&:hover,
		&:visited:hover {
			background-color: $color__background-menu-hover;
			color: $color__text-menu;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		background-color: $color__background-menu-hover;
	}

	.sub-menu .menu-item-has-children > a::after {
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		right: 10px;
		top: 50%;
		border-bottom: 7px solid transparent;
		border-top: 7px solid transparent;
		border-left: 7px solid $color__text-menu;
		transform: translateY(-50%);
	}

}

body.no-max-width .main-navigation {
	max-width: none;
}

.menu-toggle {
	display: none;
	width: 4rem;
	padding: 0.6rem;
	cursor: pointer;

	div {
		background-color: $color__text-menu;
		height: 0.25rem;
		margin: 0.43rem;
		transform: rotate(0deg);
		transition: .15s ease-in-out;
		transform-origin: left center;
	}

	&.open div {
		&:nth-child(1) {
			transform: rotate(45deg);
		}
		&:nth-child(2) {
			width: 0%;
			opacity: 0;
		}
		&:nth-child(3) {
			margin-top: 0.01rem;
			transform: rotate(-45deg);
		}
	}
}

@media #{$medium-down} {

	.menu-toggle {
		display: block;
	}

	.main-navigation {
		display: none;

		li {
			float: none;
		}

		a {
			padding: 1em;
		}

		.menu-main-menu-container {
			width: 100%;
			margin: 0;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
