body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body,
button,
input,
select,
textarea {
	color: $color__primary-text;
	font-family: $font__main;
	font-weight: normal;

	@include font-size(1);

	line-height: $font__line-height-body;

	@media #{$small-only} {
		@include font-size(0.9);
	}
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin-top: 0.2rem;
	margin-bottom: 0.8rem;
	font-weight: bold;
	line-height: $font__line-height-headings;
	text-rendering: optimizeLegibility;
	color: $color__heading-text;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1.125em;
}

h6 {
	font-size: 1em;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
	font-size: 125%;
	font-style: italic;
	line-height: $font__line-height-headings;
	margin: 1em 0;
	padding-left: 1em;
	border-left: 4px solid rgba($color__primary-text, 0.1);
	color: $color__secondary-text;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background-color: rgba(225, 225, 225, 0.5);
	font-family: $font__pre;

	@include font-size(0.9375);

	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1em;
	border: 1px solid rgba($color__primary-text, 0.1);
	border-radius: 2px;
}

code, kbd, tt, var {
	font-family: $font__code;

	@include font-size(0.9375);
}

code {
	padding: 0.125rem 0.25rem;
	background-color: rgba(225, 225, 225, 0.5);
	border: 1px solid rgba($color__primary-text, 0.1);
	border-radius: 2px;
}

pre code {
	padding: 0;
	border: none;
	background-color: transparent;
}

abbr, acronym {
	border-bottom: 1px dotted rgba($color__primary-text, 0.1);
	cursor: help;
}

mark, ins {
	background-color: rgba(#fff9c0, 0.5);
	text-decoration: none;
}

big {
	font-size: 125%;
}
